<ul id="FoodSelection">
  <li id="Find">

      <div data-bind="invisible: fgSelected">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody data-template="food-group-row-template" data-bind="source: items">

            </tbody>
      </table>
      </div>
      <div id="FgSearch" data-bind="visible: fgSelected">
        <button class="btn btn-minimal btn-sm" data-bind="visible: fgSelected"><span class="fa fa-arrow-left"></span> Back</button>
        <input type="text" class="form-control" data-bind="value: search, events: {keyup: filterFoodList}" placeholder="Search...">
        <table class="table table-condensed">
          <thead>
                <tr>
                    <td>Name</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody data-template="food-item-row-template" data-bind="source: itemsInFgSearch">

            </tbody>
        </table>
      </div>

  </li>
  <li >
      <div class="foodList" data-bind="visible: hasSelectedItems">
          <h3>Food List</h3>
            <ul id="SelectedItems" data-template="selected-item-template" data-bind="source: selectedItems">

            </ul>
          <div class="commandButtons">
            <button class="btn btn-minimal " data-bind="click: viewResults">View Results</button>
          </div>
            
      </div>
        
  </li>
</ul>

<script id="food-group-row-template" type="text/x-kendo-template">
    <tr>
        <td>#: name #</td>
        <td><button class="btn btn-minimal btn-sm getFoodsInGroup" data-fg='#: id #' data-fg-name="#: name #">Select</button></td>
    </tr>
  </script>
  <script id="food-item-row-template" type="text/x-kendo-template">
    <tr>
        <td>#: name #</td>
        <td><button class="btn btn-minimal btn-sm getMeasureAndValue" data-ndbno='#: ndbno #' data-fg-name="#: name #">Select</button></td>
    </tr>
  </script>

<script id="uom-template" type="text/x-kendo-template">
          <div class="uom">
            <div class="form-group">
                <label>Select a unit of measure</label>
                <select id="UOM" class="form-control input-sm">
                    # for(var i = 0; i < measures.length; i++ ) { #
                        <option>#: measures[i] #</option>
                    # } #
                </select>
            </div>
            <div class="form-group">
                <label>Select a quantity:</label>
                <input id="Qty" type="text" class="form-control input-sm" />
            </div>
            <input id="Ndbno" type="hidden" value="#: ndbno #" />
            <input id="Name" type="hidden" value="#: name #"/>
            <button id="BtnAddToList" class="btn btn-minimal btn-sm">Add to list</button>
          </div>
      </script>
      <script id="selected-item-template" type="text/x-kendo-template">

            <li class="selectedItem" style="width: 100%;">
            <div class="foodTitle">#: name #</div>
            <div class="foodDetails">
                <div>UoM: #: uom #</div>
                <div>Qty: #: qty #</div>
                <div class="commandButtons">
                    <button class="btn btn-minimal btn-sm removeSelectedItem" data-ndbno="#: ndbno #">Remove</button>
                </div>
                
            </div>
            </li>

      </script>
                    
<script>
    $(function(){
        requirejs(['./app/vm/food-selection.js'], function (vm) {
            var ele = "#FoodSelection";
            var viewId = "";
             var options = {};
            var vm = vm.createAndBindVM(ele, options, viewId);
        });
    });
</script>                  