<ul id="FoodSelection">
  <li id="Find">

      <div data-bind="invisible: fgSelected">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody data-template="food-group-row-template" data-bind="source: items">

            </tbody>
      </table>
      </div>
      <div id="FgSearch" data-bind="visible: fgSelected">
        <button class="btn btn-minimal btn-sm" data-bind="visible: fgSelected"><span class="fa fa-arrow-left"></span> Back</button>
        <input type="text" class="form-control" data-bind="value: search, events: {keyup: filterFoodList}" placeholder="Search...">
        <table class="table table-condensed">
          <thead>
                <tr>
                    <td>Name</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody data-template="food-item-row-template" data-bind="source: itemsInFgSearch">

            </tbody>
        </table>
      </div>

  </li>
  <li >

        <ul id="SelectedItems">

        </ul>
  </li>
</ul>
                    
<script>
    $(function(){
        requirejs(['./app/vm/food-selection.js'], function (vm) {
            var ele = "#Find";
            var viewId = "";
             var options = {};
            var vm = vm.createAndBindVM(ele, options, viewId);
        });
    });
</script>                  